/* Globals */

:root {
    --menubar-height: 38px;
    --content-max-width: 750px;

    --common-font: Verdana, Geneva, Arial, Helvetica, sans-serif;
    --common-font-size: 0.68rem;
    --code-font: Courier New, monospace;
    --code-font-size: 0.8rem;
}

html[data-dark="true"] {
    --page-background: #aeaeae;
    --background: #444;
    --foreground: #eee;

    --code-block-background: #949494;
    --code-block-foreground: #000;
    --code-block-selection: #24F;

    --heading-letter-spacing: 0rem;
    --header-1: #eee;
    --header-2: #eee;
    --header-3: var(--header-2);

    --scroll-thumb: #585858;

    --button-background: linear-gradient(-180deg, rgba(145,145,145,1) 0%, rgba(96,96,96,1) 100%);
    --button-hover-background: linear-gradient(-180deg, rgba(82,82,82,1) 0%, rgba(61,61,61,1) 100%);
    --button-foreground: #eee;

    --table-border: #222;
    --table-header-background: #444;
    --table-header-foreground: #fff;

    --links: var(--foreground);

    --textarea-focus: #7af;
}

/* Portrait */

@media (min-width: 320px) {
    :root {
        --sidebar-width: 280px;
    }
}

/* Landscape */

@media (min-width: 961px) {
    :root {
        --sidebar-width: 25rem;
    }
}